# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [ ]:
%help

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 2880
%glue_version 5.0
%worker_type G.1X
%number_of_workers 2

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.8
Current idle_timeout is None minutes.
idle_timeout has been set to 2880 minutes.
Setting Glue version to: 5.0
Previous worker type: None
Setting new worker type to: G.1X
Previous number of workers: None
Setting new number of workers to: 2
Trying to create a Glue session for the kernel.
Session Type: glueetl
Worker Type: G.1X
Number of Workers: 2
Idle Timeout: 2880
Session ID: 46a09194-5de6-4911-b44d-a6943faae05e
Applying the following default arguments:
--glue_kernel_version 1.0.8
--enable-glue-datacatalog true
Waiting for session 46a09194-5de6-4911-b44d-a6943faae05e to get into ready status...
Session 46a09194-5de6-4911-b44d-a6943faae05e has been created.

In [2]:
# Read from the customers table in the glue data catalog using a dynamic frame
dynamicFrameCustomers = glueContext.create_dynamic_frame.from_catalog(
database = "pyspark_tutorial_db", 
table_name = "customers"
)

# Show the top 10 rows from the dynamic dataframe
dynamicFrameCustomers.show(10)

{"customerid": 293, "firstname": "Catherine", "lastname": "Abel", "fullname": "Catherine Abel"}
{"customerid": 295, "firstname": "Kim", "lastname": "Abercrombie", "fullname": "Kim Abercrombie"}
{"customerid": 297, "firstname": "Humberto", "lastname": "Acevedo", "fullname": "Humberto Acevedo"}
{"customerid": 291, "firstname": "Gustavo", "lastname": "Achong", "fullname": "Gustavo Achong"}
{"customerid": 299, "firstname": "Pilar", "lastname": "Ackerman", "fullname": "Pilar Ackerman"}
{"customerid": 305, "firstname": "Carla", "lastname": "Adams", "fullname": "Carla Adams"}
{"customerid": 301, "firstname": "Frances", "lastname": "Adams", "fullname": "Frances Adams"}
{"customerid": 307, "firstname": "Jay", "lastname": "Adams", "fullname": "Jay Adams"}
{"customerid": 309, "firstname": "Ronald", "lastname": "Adina", "fullname": "Ronald Adina"}
{"customerid": 311, "firstname": "Samuel", "lastname": "Agcaoili", "fullname": "Samuel Agcaoili"}

In [4]:
dynamicFrameCustomers.printSchema()

root
|-- customerid: long
|-- firstname: string
|-- lastname: string
|-- fullname: string

In [5]:
# count the dynamic frame
dynamicFrameCustomers.count()

635

In [9]:
dyfCustomerSelectFields = dynamicFrameCustomers.select_fields(['customerid','fullname']).show(10)

{"customerid": 293, "fullname": "Catherine Abel"}
{"customerid": 295, "fullname": "Kim Abercrombie"}
{"customerid": 297, "fullname": "Humberto Acevedo"}
{"customerid": 291, "fullname": "Gustavo Achong"}
{"customerid": 299, "fullname": "Pilar Ackerman"}
{"customerid": 305, "fullname": "Carla Adams"}
{"customerid": 301, "fullname": "Frances Adams"}
{"customerid": 307, "fullname": "Jay Adams"}
{"customerid": 309, "fullname": "Ronald Adina"}
{"customerid": 311, "fullname": "Samuel Agcaoili"}

In [11]:
dynamicFrameCustomers.select_fields(['customerid','fullname']).show(10)

{"customerid": 293, "fullname": "Catherine Abel"}
{"customerid": 295, "fullname": "Kim Abercrombie"}
{"customerid": 297, "fullname": "Humberto Acevedo"}
{"customerid": 291, "fullname": "Gustavo Achong"}
{"customerid": 299, "fullname": "Pilar Ackerman"}
{"customerid": 305, "fullname": "Carla Adams"}
{"customerid": 301, "fullname": "Frances Adams"}
{"customerid": 307, "fullname": "Jay Adams"}
{"customerid": 309, "fullname": "Ronald Adina"}
{"customerid": 311, "fullname": "Samuel Agcaoili"}

In [13]:
# drop fields from dynamic dataframe
dyfCustomerDropFields= dynamicFrameCustomers.drop_fields(['firstname','lastname'])

dyfCustomerDropFields.show(10)

{"customerid": 293, "fullname": "Catherine Abel"}
{"customerid": 295, "fullname": "Kim Abercrombie"}
{"customerid": 297, "fullname": "Humberto Acevedo"}
{"customerid": 291, "fullname": "Gustavo Achong"}
{"customerid": 299, "fullname": "Pilar Ackerman"}
{"customerid": 305, "fullname": "Carla Adams"}
{"customerid": 301, "fullname": "Frances Adams"}
{"customerid": 307, "fullname": "Jay Adams"}
{"customerid": 309, "fullname": "Ronald Adina"}
{"customerid": 311, "fullname": "Samuel Agcaoili"}

In [15]:
# mapping full name -> name
mapping = [('customerid','long', 'customerid', 'long'), ('fullname','string','name','string')]

dfyMapping = ApplyMapping.apply(
    frame = dyfCustomerDropFields,
    mappings = mapping,
    transformation_ctx = 'applymapping1'
)

dfyMapping.show(10)

{"customerid": 293, "name": "Catherine Abel"}
{"customerid": 295, "name": "Kim Abercrombie"}
{"customerid": 297, "name": "Humberto Acevedo"}
{"customerid": 291, "name": "Gustavo Achong"}
{"customerid": 299, "name": "Pilar Ackerman"}
{"customerid": 305, "name": "Carla Adams"}
{"customerid": 301, "name": "Frances Adams"}
{"customerid": 307, "name": "Jay Adams"}
{"customerid": 309, "name": "Ronald Adina"}
{"customerid": 311, "name": "Samuel Agcaoili"}

In [16]:
dyfFilter = Filter.apply(
    frame = dynamicFrameCustomers,
    f = lambda x: x['lastname'] in 'Adams'
)
dyfFilter.show()

{"lastname": "Adams", "firstname": "Carla", "customerid": 305, "fullname": "Carla Adams"}
{"lastname": "Adams", "firstname": "Frances", "customerid": 301, "fullname": "Frances Adams"}
{"lastname": "Adams", "firstname": "Jay", "customerid": 307, "fullname": "Jay Adams"}

In [17]:
# Read from the customers table in the glue data catalog using a dynamic frame
dynamicFrameOrders = glueContext.create_dynamic_frame.from_catalog(
database = "pyspark_tutorial_db", 
table_name = "orders"
)

# show top 10 rows of orders table
dynamicFrameOrders.show(10)

{"salesorderid": 43659, "salesorderdetailid": 1, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 776, "orderqty": 1, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 2024.9940}
{"salesorderid": 43659, "salesorderdetailid": 2, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 777, "orderqty": 3, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 6074.9820}
{"salesorderid": 43659, "salesorderdetailid": 3, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 778, "orderqty": 1, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 2024.9940}
{"salesorderid": 43659, "salesorderdetailid": 4, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 771, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 5, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 772, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 6, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 773, "orderqty": 2, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 4079.9880}
{"salesorderid": 43659, "salesorderdetailid": 7, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 774, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 8, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 714, "orderqty": 3, "unitprice": 28.8404, "unitpricediscount": 0.0000, "linetotal": 86.5212}
{"salesorderid": 43659, "salesorderdetailid": 9, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 716, "orderqty": 1, "unitprice": 28.8404, "unitpricediscount": 0.0000, "linetotal": 28.8404}
{"salesorderid": 43659, "salesorderdetailid": 10, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 709, "orderqty": 6, "unitprice": 5.7000, "unitpricediscount": 0.0000, "linetotal": 34.2000}

In [18]:
dyfjoin = dynamicFrameCustomers.join(['customerid'],['customerid'], dynamicFrameOrders)

dyfjoin.show(10)

{"freight": 94.1433, "subtotal": 3170.6280, "salesorderdetailid": 39158, "productid": 783, "linetotal": 2753.9880, "employeeid": 288, ".customerid": 419, "taxamt": 301.2584, "salesorderid": 51690, "duedate": "7/12/2013", "orderqty": 2, "shipdate": "7/7/2013", "lastname": "Bartness", "firstname": "David", "totaldue": 3566.0297, "unitprice": 1376.9940, "orderdate": "6/30/2013", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 94.1433, "subtotal": 3170.6280, "salesorderdetailid": 39159, "productid": 907, "linetotal": 63.9000, "employeeid": 288, ".customerid": 419, "taxamt": 301.2584, "salesorderid": 51690, "duedate": "7/12/2013", "orderqty": 1, "shipdate": "7/7/2013", "lastname": "Bartness", "firstname": "David", "totaldue": 3566.0297, "unitprice": 63.9000, "orderdate": "6/30/2013", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 94.1433, "subtotal": 3170.6280, "salesorderdetailid": 39160, "productid": 867, "linetotal": 125.9820, "employeeid": 288, ".customerid": 419, "taxamt": 301.2584, "salesorderid": 51690, "duedate": "7/12/2013", "orderqty": 3, "shipdate": "7/7/2013", "lastname": "Bartness", "firstname": "David", "totaldue": 3566.0297, "unitprice": 41.9940, "orderdate": "6/30/2013", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 94.1433, "subtotal": 3170.6280, "salesorderdetailid": 39161, "productid": 884, "linetotal": 226.7580, "employeeid": 288, ".customerid": 419, "taxamt": 301.2584, "salesorderid": 51690, "duedate": "7/12/2013", "orderqty": 7, "shipdate": "7/7/2013", "lastname": "Bartness", "firstname": "David", "totaldue": 3566.0297, "unitprice": 32.3940, "orderdate": "6/30/2013", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 4.8849, "subtotal": 158.4300, "salesorderdetailid": 61552, "productid": 920, "linetotal": 158.4300, "employeeid": 288, ".customerid": 419, "taxamt": 15.6318, "salesorderid": 57078, "duedate": "10/12/2013", "orderqty": 1, "shipdate": "10/7/2013", "lastname": "Bartness", "firstname": "David", "totaldue": 178.9467, "unitprice": 158.4300, "orderdate": "9/30/2013", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 26.6602, "subtotal": 864.6540, "salesorderdetailid": 82228, "productid": 945, "linetotal": 54.8940, "employeeid": 288, ".customerid": 419, "taxamt": 85.3125, "salesorderid": 63168, "duedate": "1/12/2014", "orderqty": 1, "shipdate": "1/7/2014", "lastname": "Bartness", "firstname": "David", "totaldue": 976.6267, "unitprice": 54.8940, "orderdate": "12/31/2013", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 26.6602, "subtotal": 864.6540, "salesorderdetailid": 82229, "productid": 747, "linetotal": 809.7600, "employeeid": 288, ".customerid": 419, "taxamt": 85.3125, "salesorderid": 63168, "duedate": "1/12/2014", "orderqty": 1, "shipdate": "1/7/2014", "lastname": "Bartness", "firstname": "David", "totaldue": 976.6267, "unitprice": 809.7600, "orderdate": "12/31/2013", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 41.0650, "subtotal": 1210.4928, "salesorderdetailid": 102195, "productid": 985, "linetotal": 67.7988, "employeeid": 288, ".customerid": 419, "taxamt": 131.4079, "salesorderid": 69388, "duedate": "4/12/2014", "orderqty": 1, "shipdate": "4/7/2014", "lastname": "Bartness", "firstname": "David", "totaldue": 1382.9657, "unitprice": 112.9980, "orderdate": "3/31/2014", "unitpricediscount": 0.4000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 41.0650, "subtotal": 1210.4928, "salesorderdetailid": 102196, "productid": 992, "linetotal": 323.9940, "employeeid": 288, ".customerid": 419, "taxamt": 131.4079, "salesorderid": 69388, "duedate": "4/12/2014", "orderqty": 1, "shipdate": "4/7/2014", "lastname": "Bartness", "firstname": "David", "totaldue": 1382.9657, "unitprice": 323.9940, "orderdate": "3/31/2014", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}
{"freight": 41.0650, "subtotal": 1210.4928, "salesorderdetailid": 102197, "productid": 742, "linetotal": 818.7000, "employeeid": 288, ".customerid": 419, "taxamt": 131.4079, "salesorderid": 69388, "duedate": "4/12/2014", "orderqty": 1, "shipdate": "4/7/2014", "lastname": "Bartness", "firstname": "David", "totaldue": 1382.9657, "unitprice": 818.7000, "orderdate": "3/31/2014", "unitpricediscount": 0.0000, "customerid": 419, "fullname": "David Bartness"}

In [19]:
# write down the data in a Dynamic Frame to S3 location. 
glueContext.write_dynamic_frame.from_options(
    frame = dynamicFrameCustomers,
    connection_type = 's3',
    connection_options = {'path': 's3://virgilio-murillo-pyspark-tutorial/dynamic-dataframe/'},
    format = 'csv',
    format_options = {
        'separator': ','
    },
    transformation_ctx = 'datasink2'
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f6b96edf210>

In [22]:
# write down to data catalog using a dynamic frame
glueContext.write_dynamic_frame.from_catalog(
    frame = dynamicFrameCustomers,
    database = 'pyspark_tutorial_db',
    table_name = 'customers_write_dyf',
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f6b96ef44d0>

In [24]:
sparkDf = dynamicFrameCustomers.toDF()

sparkDf.show()

+----------+----------+-----------+--------------------+
|customerid| firstname|   lastname|            fullname|
+----------+----------+-----------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+
only showing top 20 rows

/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/dataframe.py:147: UserWarning: DataFrame constructor is internal. Do not directly use it.

In [25]:
dfSelect = sparkDf.select('customerid','fullname')

dfSelect.show()

+----------+--------------------+
|customerid|            fullname|
+----------+--------------------+
|       293|      Catherine Abel|
|       295|     Kim Abercrombie|
|       297|    Humberto Acevedo|
|       291|      Gustavo Achong|
|       299|      Pilar Ackerman|
|       305|         Carla Adams|
|       301|       Frances Adams|
|       307|           Jay Adams|
|       309|        Ronald Adina|
|       311|     Samuel Agcaoili|
|       313|       James Aguilar|
|       315|     Robert Ahlering|
|       319|           Kim Akers|
|       441|        Stanley Alan|
|       323|         Amy Alberts|
|       325|       Anna Albright|
|       327|       Milton Albury|
|       329|         Paul Alcorn|
|       331|    Gregory Alderson|
|       333|J. Phillip Alexander|
+----------+--------------------+
only showing top 20 rows

In [26]:
# import the lit lib
from pyspark.sql.functions import lit

# add new column with literal value
dfNewColumn = sparkDf.withColumn('date',lit('2022-7-25'))

dfNewColumn.show()

+----------+----------+-----------+--------------------+---------+
|customerid| firstname|   lastname|            fullname|     date|
+----------+----------+-----------+--------------------+---------+
|       293| Catherine|       Abel|      Catherine Abel|2022-7-25|
|       295|       Kim|Abercrombie|     Kim Abercrombie|2022-7-25|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|2022-7-25|
|       291|   Gustavo|     Achong|      Gustavo Achong|2022-7-25|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|2022-7-25|
|       305|     Carla|      Adams|         Carla Adams|2022-7-25|
|       301|   Frances|      Adams|       Frances Adams|2022-7-25|
|       307|       Jay|      Adams|           Jay Adams|2022-7-25|
|       309|    Ronald|      Adina|        Ronald Adina|2022-7-25|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|2022-7-25|
|       313|     James|    Aguilar|       James Aguilar|2022-7-25|
|       315|    Robert|   Ahlering|     Robert Ahlering|2022-7-25|
|       319|       Kim|      Akers|           Kim Akers|2022-7-25|
|       441|   Stanley|       Alan|        Stanley Alan|2022-7-25|
|       323|       Amy|    Alberts|         Amy Alberts|2022-7-25|
|       325|      Anna|   Albright|       Anna Albright|2022-7-25|
|       327|    Milton|     Albury|       Milton Albury|2022-7-25|
|       329|      Paul|     Alcorn|         Paul Alcorn|2022-7-25|
|       331|   Gregory|   Alderson|    Gregory Alderson|2022-7-25|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|2022-7-25|
+----------+----------+-----------+--------------------+---------+
only showing top 20 rows

In [27]:
# create a new column and add two strings together
from pyspark.sql.functions import concat

dfnewFullname = sparkDf.withColumn('new_full_name',concat('firstname',concat(lit(' '), 'lastname')))

dfnewFullname.show()

+----------+----------+-----------+--------------------+--------------------+
|customerid| firstname|   lastname|            fullname|       new_full_name|
+----------+----------+-----------+--------------------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+--------------------+
only showing top 20 rows

In [28]:
# drop columns
dfDropCol = sparkDf.drop('firstname','lastname')

dfDropCol.show()

+----------+--------------------+
|customerid|            fullname|
+----------+--------------------+
|       293|      Catherine Abel|
|       295|     Kim Abercrombie|
|       297|    Humberto Acevedo|
|       291|      Gustavo Achong|
|       299|      Pilar Ackerman|
|       305|         Carla Adams|
|       301|       Frances Adams|
|       307|           Jay Adams|
|       309|        Ronald Adina|
|       311|     Samuel Agcaoili|
|       313|       James Aguilar|
|       315|     Robert Ahlering|
|       319|           Kim Akers|
|       441|        Stanley Alan|
|       323|         Amy Alberts|
|       325|       Anna Albright|
|       327|       Milton Albury|
|       329|         Paul Alcorn|
|       331|    Gregory Alderson|
|       333|J. Phillip Alexander|
+----------+--------------------+
only showing top 20 rows

In [29]:
# renaming columns
dfRenameCols = sparkDf.withColumnRenamed('fullname','full_name_new').show()

+----------+----------+-----------+--------------------+
|customerid| firstname|   lastname|       full_name_new|
+----------+----------+-----------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+
only showing top 20 rows

In [31]:
# group on last name and count the number of times they appear
sparkDf.groupby('lastname').count().show()

+-----------+-----+
|   lastname|count|
+-----------+-----+
|Abercrombie|    1|
|     Achong|    1|
|      Adams|    3|
|  Alexander|    3|
|      Allen|    3|
| Altamirano|    1|
|     Alvaro|    1|
|  Appelbaum|    1|
|    Arakawa|    1|
|       Ault|    1|
|     Bailey|    1|
|    Baldwin|    1|
|      Bales|    1|
|     Barker|    1|
|     Beaver|    1|
|       Beck|    1|
|      Belli|    1|
|  Bernacchi|    1|
|    Blanton|    1|
|    Bradley|    1|
+-----------+-----+
only showing top 20 rows

In [32]:
# Filter spark DataFrame for customers who have the last name Adams
sparkDf.filter(sparkDf["lastname"] == "Adams").show()

+----------+---------+--------+-------------+
|customerid|firstname|lastname|     fullname|
+----------+---------+--------+-------------+
|       305|    Carla|   Adams|  Carla Adams|
|       301|  Frances|   Adams|Frances Adams|
|       307|      Jay|   Adams|    Jay Adams|
+----------+---------+--------+-------------+

In [33]:
# Where clause spark DataFrame for customers who have the last name Adams
sparkDf.where("lastname =='Adams'").show()

+----------+---------+--------+-------------+
|customerid|firstname|lastname|     fullname|
+----------+---------+--------+-------------+
|       305|    Carla|   Adams|  Carla Adams|
|       301|  Frances|   Adams|Frances Adams|
|       307|      Jay|   Adams|    Jay Adams|
+----------+---------+--------+-------------+

In [34]:
# Read from the customers table in the glue data catalog using a dynamic frame and convert to spark dataframe
dfOrders = glueContext.create_dynamic_frame.from_catalog(
                                        database = "pyspark_tutorial_db", 
                                        table_name = "orders"
                                    ).toDF()

In [35]:
# Inner Join Customers Spark DF to Orders Spark DF
sparkDf.join(dfOrders,sparkDf.customerid ==  dfOrders.customerid,"inner").show(truncate=False)

+----------+---------+---------+---------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
|customerid|firstname|lastname |fullname       |salesorderid|salesorderdetailid|orderdate|duedate  |shipdate|employeeid|customerid|subtotal  |taxamt   |freight |totaldue  |productid|orderqty|unitprice|unitpricediscount|linetotal|
+----------+---------+---------+---------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
|721       |Takiko   |Collins  |Takiko Collins |43660       |13                |5/31/2011|6/12/2011|6/7/2011|279       |721       |1294.2529 |124.2483 |38.8276 |1457.3288 |762      |1       |419.4589 |0.0000           |419.4589 |
|721       |Takiko   |Collins  |Takiko Collins |43660       |14                |5/31/2011|6/12/2011|6/7/2011|279       |721       |1294.2529 |124.2483 |38.8276 |1457.3288 |758      |1       |874.7940 |0.0000           |874.7940 |
|517       |Richard  |Bready   |Richard Bready |43665       |61                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|711      |2       |20.1865  |0.0000           |40.3730  |
|517       |Richard  |Bready   |Richard Bready |43665       |62                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|773      |1       |2039.9940|0.0000           |2039.9940|
|517       |Richard  |Bready   |Richard Bready |43665       |63                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|707      |1       |20.1865  |0.0000           |20.1865  |
|517       |Richard  |Bready   |Richard Bready |43665       |64                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|715      |2       |28.8404  |0.0000           |57.6808  |
|517       |Richard  |Bready   |Richard Bready |43665       |65                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|777      |2       |2024.9940|0.0000           |4049.9880|
|517       |Richard  |Bready   |Richard Bready |43665       |66                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|712      |2       |5.1865   |0.0000           |10.3730  |
|517       |Richard  |Bready   |Richard Bready |43665       |67                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|775      |2       |2024.9940|0.0000           |4049.9880|
|517       |Richard  |Bready   |Richard Bready |43665       |68                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|778      |1       |2024.9940|0.0000           |2024.9940|
|517       |Richard  |Bready   |Richard Bready |43665       |69                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|709      |6       |5.7000   |0.0000           |34.2000  |
|517       |Richard  |Bready   |Richard Bready |43665       |70                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|776      |1       |2024.9940|0.0000           |2024.9940|
|1373      |Scott    |MacDonald|Scott MacDonald|43667       |77                |5/31/2011|6/12/2011|6/7/2011|277       |1373      |6107.0820 |586.1203 |183.1626|6876.3649 |710      |3       |5.7000   |0.0000           |17.1000  |
|1373      |Scott    |MacDonald|Scott MacDonald|43667       |78                |5/31/2011|6/12/2011|6/7/2011|277       |1373      |6107.0820 |586.1203 |183.1626|6876.3649 |773      |1       |2039.9940|0.0000           |2039.9940|
|1373      |Scott    |MacDonald|Scott MacDonald|43667       |79                |5/31/2011|6/12/2011|6/7/2011|277       |1373      |6107.0820 |586.1203 |183.1626|6876.3649 |778      |1       |2024.9940|0.0000           |2024.9940|
|1373      |Scott    |MacDonald|Scott MacDonald|43667       |80                |5/31/2011|6/12/2011|6/7/2011|277       |1373      |6107.0820 |586.1203 |183.1626|6876.3649 |775      |1       |2024.9940|0.0000           |2024.9940|
|1185      |Peggy    |Justice  |Peggy Justice  |43671       |115               |5/31/2011|6/12/2011|6/7/2011|283       |1185      |8128.7876 |780.8136 |244.0042|9153.6054 |753      |1       |2146.9620|0.0000           |2146.9620|
|1185      |Peggy    |Justice  |Peggy Justice  |43671       |116               |5/31/2011|6/12/2011|6/7/2011|283       |1185      |8128.7876 |780.8136 |244.0042|9153.6054 |714      |2       |28.8404  |0.0000           |57.6808  |
|1185      |Peggy    |Justice  |Peggy Justice  |43671       |117               |5/31/2011|6/12/2011|6/7/2011|283       |1185      |8128.7876 |780.8136 |244.0042|9153.6054 |756      |1       |874.7940 |0.0000           |874.7940 |
|1185      |Peggy    |Justice  |Peggy Justice  |43671       |118               |5/31/2011|6/12/2011|6/7/2011|283       |1185      |8128.7876 |780.8136 |244.0042|9153.6054 |768      |2       |419.4589 |0.0000           |838.9178 |
+----------+---------+---------+---------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
only showing top 20 rows

In [36]:
#left join on orders and adams df
dfOrders.join(dfAdams,dfAdams.customerid ==  dfOrders.customerid,"left").show(100)

NameError: name 'dfAdams' is not defined

In [37]:
# Import Dynamic DataFrame class
from awsglue.dynamicframe import DynamicFrame

#Convert from Spark Data Frame to Glue Dynamic Frame
dyfCustomersConvert = DynamicFrame.fromDF(sparkDf, glueContext, "convert")

#Show converted Glue Dynamic Frame
dyfCustomersConvert.show()

{"customerid": 293, "firstname": "Catherine", "lastname": "Abel", "fullname": "Catherine Abel"}
{"customerid": 295, "firstname": "Kim", "lastname": "Abercrombie", "fullname": "Kim Abercrombie"}
{"customerid": 297, "firstname": "Humberto", "lastname": "Acevedo", "fullname": "Humberto Acevedo"}
{"customerid": 291, "firstname": "Gustavo", "lastname": "Achong", "fullname": "Gustavo Achong"}
{"customerid": 299, "firstname": "Pilar", "lastname": "Ackerman", "fullname": "Pilar Ackerman"}
{"customerid": 305, "firstname": "Carla", "lastname": "Adams", "fullname": "Carla Adams"}
{"customerid": 301, "firstname": "Frances", "lastname": "Adams", "fullname": "Frances Adams"}
{"customerid": 307, "firstname": "Jay", "lastname": "Adams", "fullname": "Jay Adams"}
{"customerid": 309, "firstname": "Ronald", "lastname": "Adina", "fullname": "Ronald Adina"}
{"customerid": 311, "firstname": "Samuel", "lastname": "Agcaoili", "fullname": "Samuel Agcaoili"}
{"customerid": 313, "firstname": "James", "lastname": "Aguilar", "fullname": "James Aguilar"}
{"customerid": 315, "firstname": "Robert", "lastname": "Ahlering", "fullname": "Robert Ahlering"}
{"customerid": 319, "firstname": "Kim", "lastname": "Akers", "fullname": "Kim Akers"}
{"customerid": 441, "firstname": "Stanley", "lastname": "Alan", "fullname": "Stanley Alan"}
{"customerid": 323, "firstname": "Amy", "lastname": "Alberts", "fullname": "Amy Alberts"}
{"customerid": 325, "firstname": "Anna", "lastname": "Albright", "fullname": "Anna Albright"}
{"customerid": 327, "firstname": "Milton", "lastname": "Albury", "fullname": "Milton Albury"}
{"customerid": 329, "firstname": "Paul", "lastname": "Alcorn", "fullname": "Paul Alcorn"}
{"customerid": 331, "firstname": "Gregory", "lastname": "Alderson", "fullname": "Gregory Alderson"}
{"customerid": 333, "firstname": "J. Phillip", "lastname": "Alexander", "fullname": "J. Phillip Alexander"}

In [40]:
# write down the data in converted Dynamic Frame to S3 location. 
glueContext.write_dynamic_frame.from_options(
                            frame = dyfCustomersConvert,
                            connection_type="s3", 
                            connection_options = {"path": "s3://virgilio-murillo-pyspark-tutorial/write_down_dyf_to_s3"}, 
                            format = "csv", 
                            format_options={
                                "separator": ","
                                },
                            transformation_ctx = "datasink2")

<awsglue.dynamicframe.DynamicFrame object at 0x7f6b96f58d90>

In [41]:
# write data from the converted to customers_write_dyf table using the meta data stored in the glue data catalog 
glueContext.write_dynamic_frame.from_catalog(
    frame = dyfCustomersConvert,
    database = "pyspark_tutorial_db",  
    table_name = "customers_write_dyf")

<awsglue.dynamicframe.DynamicFrame object at 0x7f6b96f58ed0>